*{
  margin: 0;
  padding: 0;
}
body{
  
  overflow: hidden;
  font-family: sans-serif;
}
.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  color: #fff;
  background-image: url(/img/mountains-bg-min.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  filter: blur(3px);
  transform: scale(1.1)
}


.App-link {
  color: #09d3ac;
}
.main{
  display: block;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(17,17,17,.6);
}

.login-box{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid #fff;
  width: 70vw;
  height: auto;
  padding: 5vw;
  background-color: rgb(255,255,255);
}

h2.login-text{
color: #222;
text-align: center;
margin-top: 5%;
}

input{
  display: block;
  margin: 20px auto;
  width: 55%;
  height: 10%;
  border: none;
  border-bottom: 2px solid #111;
  padding: 2px 10px;
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  
  -webkit-text-fill-color: #111;
  -webkit-box-shadow:  transparent;
  box-shadow: transparent;
  transition: background-color 5000s ease-in-out 0s;
}